.nav-bar{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

p.name{
  color: #1e3d59;
  font-size: 46px;
  margin-left: 10%;
}

img.image1{
  width: 200px;
  height: 200px;
  float: right;
  margin-top: -7%;
  margin-right: 20%;
}